@import "compass/css3";

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body{
    background: #ffffff;
    font-family: 'Open Sans', 'sans-serif';
    color: #3386c0;
    
}

.header-title{
  text-align: center;
  color: #3386c0;
  margin: 15px;
}

.wrapper{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 80vh;
  min-width: 300px;
  /* border-radius: 10px; */
}

.one {
  background: lightsalmon;
  flex-grow: 4;
  border-radius: 8px;
}

.two{
  /* display: none; */
/*   border-color: lightpink;
  border-style: dotted; */
  flex-grow: 1;
}

.three {
  border-color: lightskyblue;
  border-style: dotted;
  flex-grow: 2;
}

.one-container{
  height: 100%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.two-container{
  height: 100%;
/*   border-color: #6e84c4;
  border-style: dotted;
  border-radius: 15px; */
  display: flex;
  flex-direction: row;
}

.two-container-left{
  height: 100%;
/*   border-color: #7bd17c;
  border-stlye: dotted;
  border-radius: 15px; */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.two-container-right{
  height: 100%;
/*   border-color: #a7c8a8;
  border-style: dotted;
  border-radius: 15px; */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.oneA{
/*   border-color: steelblue; */
  height: 100%;
  width: 84%;
  box-shadow: 0px 31px 35px -26px #080c21;
  border-radius: 5px;
}

.twoA{
  background: #e8ded9;
  height: 20%;
  padding-left: 5px;
  padding-top: 5px;
  box-shadow: 0px 31px 35px -26px #080c21;
  border-radius: 5px;
  margin: 10px;
  min-height: 90px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.twoB{
  background: lightseagreen;
  height: 20%;
  padding-left: 5px;
  box-shadow: 0px 31px 35px -26px #080c21;
  border-radius: 5px;
  margin: 10px;
  min-height: 90px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.twoC{
  background: lightsteelblue;
  height: 20%;
  padding-left: 5px;
  box-shadow: 0px 31px 35px -26px #080c21;
  border-radius: 5px;
  margin: 10px;
  min-height: 90px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.twoD{
  background: #e8deda;
  height: 20%;
  padding-left: 5px;
  box-shadow: 0px 31px 35px -26px #080c21;
  border-radius: 5px;
  margin: 10px;
  min-height: 90px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.twoA-right{
  background: #f7f7f7;
  height: 20%;
  padding-left: 5px;
  padding-top: 5px;
  box-shadow: 0px 31px 35px -26px #080c21;
  border-radius: 5px;
  margin: 10px;
  min-height: 90px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.three-header{
  background: lightslategray;
  height: 30%;
  border-radius: 10px 10px 0 0;
  padding-left: 30px;
}

.three-body{
  background: lightseagreen;
  height: 70%;
  border-radius: 0 0 10px 10px;

}

/* Mapbox elements styling */
.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  cursor: pointer;
}

.overlay {
    position: relative;
    top: -15 px;
    left: 3px;
    z-index: 1;
}

.overlay button {
    font: 600 16px/20px 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #3386c0;
    color: #fff;
    display: inline-block;
    margin: 4px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    min-width: 100px;
}

.overlay button:hover {
    background-color: #4ea0da;
}

/* Results elements */
.child-twoB-1 {
  width: 50%;
  background-color: #d6dcd6;
  border-radius: 1px;
  padding-left: 5px;
  padding-top: 20px;
  box-shadow: 0px 31px 35px -26px #080c21;
  display: flex;
  flex-direction: column;
}

.child-twoB-2 {
  width: 50%;
  background-color: lightgreen;
  border-radius: 15px;
  text-align: center;
}

div.output-small
{
  font-size: 14px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}

div.output-medium
{
  font-size: 21px;
  font-weight: 80;
  text-transform: uppercase;
  padding-top: 5px;
  color: rgba(0,0,0,0.7);
  text-align: center;
}

div.output-large
{
  font-size: 24px;
  color: rgba(0,0,0,0.9);
  font-weight: bold;
  text-align: center
}


/* Slider styling */

.slider {
  -webkit-appearance: none;
  height: 20px;
  border-radius: 10px;
  background: #d3d3d3;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  background: #0095ff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  background: #0095ff;
  cursor: pointer;
}

/* Toggle switch */

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderSwitch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #383838;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderSwitch:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sliderSwitch {
  background-color: #0a8037;
}

input:focus + .sliderSwitch {
  box-shadow: 0 0 1px #1a9617;
}

input:checked + .sliderSwitch:before {
  -webkit-transform: translateX(56px);
  -ms-transform: translateX(56px);
  transform: translateX(56px);
}

/* Rounded sliders */
.sliderSwitch.round {
  border-radius: 34px;
}

.sliderSwitch.round:before {
  border-radius: 50%;
}
  
