*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
    font-family: 'Open Sans', 'sans-serif';
    color: aliceblue;
    
}

.wrapper{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background: slateblue;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 60vh;
  min-width: 300px;
  /* border-radius: 10px; */
}

.one {
  background: lightsalmon;
  flex-grow: 4;
  box-shadow: 0px 31px 35px -26px #080c21;
}

.two{
  /* display: none; */
  border-color: lightpink;
  border-style: dotted;
  flex-grow: ;
}

.three {
  border-color: lightskyblue;
  border-style: dotted;
  flex-grow: 2;
}

.two-container{
  height: 100%;
  background: #6e84c4;
  border-radius: 15px;
  display: flex;
  flex-direction: column;

}

.twoA{
  background: lightslategray;
  height: 50%;
  border-radius: 35px;
  padding-left: 5px;
}

.twoB{
  background: lightseagreen;
  height: 50%;
  border-radius: 35px;
  padding-left: 5px;
  box-shadow: 0px 31px 35px -26px #080c21;
}

.twoC{
  background: lightsteelblue;
  height: 50%;
  border-radius: 35px;
  padding-left: 5px;
  box-shadow: 0px 31px 35px -26px #080c21;
}

.three-header{
  background: lightslategray;
  height: 30%;
  border-radius: 10px 10px 0 0;
  padding-left: 30px;
}

.three-body{
  background: lightseagreen;
  height: 70%;
  border-radius: 0 0 10px 10px;

}

/* Mapbox elements styling */
.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  cursor: pointer;
}

.overlay {
    position: relative;
    top: -15 px;
    left: 3px;
    z-index: 1;
}

.overlay button {
    font: 600 16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #3386c0;
    color: #fff;
    display: inline-block;
    margin: 4px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    min-width: 100px;
}

.overlay button:hover {
    background-color: #4ea0da;
}

/* Results elements */
.child-twoB-1 {
  width: 50%;
  background-color: #d6dcd6;
  border-radius: 1px;
  padding-left: 5px;
  padding-top: 20px;
  box-shadow: 0px 31px 35px -26px #080c21;
  display: flex;
  flex-direction: column;
}

.child-twoB-2 {
  width: 50%;
  background-color: lightgreen;
  border-radius: 15px;
  text-align: center;
}

div.date
{
  font-size: 14px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}

div.city
{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
  color: rgba(0,0,0,0.7);
}

div.temp
{
  font-size: 48px;
  color: rgba(0,0,0,0.9);
  font-weight: 100;
}

